# Dart/pub
.dart_tool/
.packages
build/

# Entrypoints gerados por `dart run flext:bootstrap`
lib/main.server.dart
lib/main.client.dart
lib/views/admin/admin_page.dart

# Gerados pelo jaspr_builder
lib/**/*.options.dart
lib/**/*.imports.dart
lib/**/*.sync.dart
lib/generated/
web/main.client.dart

# Misc
*.log
.DS_Store
.idea/
*.iml
